<div class="modal" tabindex="-1" role="dialog" , id="acknowlegementmodal1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Acknowlege User agreement</h5>
        </div>
        <div class="modal-body" style="width: fit-content;">
          <div>
            <div style="width: fit-content;">
              These are the different statues that you will see on the application!
            </div>
            <div>
              <div style="margin-top: 1em; color: green;">Ok: I am OK: I do not need help. </div>
              <div style="margin-top: 0.2em; color: yellow;">Help: I need help, but this is not a life threatening
                emergency. </div>
              <div style="margin-top: 0.2em; margin-bottom: 1em; color: red;">Emergency: I need help now: this is a life
                threatening emergency!</div>
            </div>
            <div>Acknowledge that you understand this!</div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" , onclick="userAcknowledged()">I Acknowledge</button>
        </div>
      </div>
    </div>
  </div>