<!-- No need -->
<!-- <div class="dropdown dropdown-actions dropup ">
    <i class="las la-bars kebab-menu" data-bs-toggle="dropdown" aria-expanded="false"></i>
    <ul class="dropdown-menu">
        <li class="menu-item dropdown-item" onclick="window.location.href='/waitlists'">
            Waitlists
        </li>
        <li class="menu-item dropdown-item" onclick="window.location.href='/firstaid'">
            First Aid
        </li>
        <li class="menu-item dropdown-item" onclick="announcement()">
            Announcement
        </li>
        <li class="menu-item dropdown-item" onclick="showSpeedTestModal()">
            Speed Test
        </li>
        <li class="menu-item dropdown-item" onclick="logout()">
            Logout
        </li>
    </ul>
</div> -->