<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="message-modal-title">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body message-modal-body">
                <div class="message-modal-body-header">
                    <div class="message-modal-timestamp" id="message-modal-timestamp"></div>
                    <div class="message-modal-status" id="message-modal-status"></div>
                </div>
                <div class="message-modal-content" id="message-modal-content">message</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    onclick="replyToUser()">Reply</button>
            </div>
        </div>
    </div>
</div>