<!--header.ejs-->
<header class="navbar navbar-expand-lg navbar-light navbar-parent">
    <div class="container-fluid nav-bar-container">            
        <%- include ('./actionsDropdown'); %>
        <a class="navbar-brand header-title" href="/chatroom">CHAT ROOM</a>
        <div class="options-container">
            <div class="dropdown dropdown-fse">
                <button id="status-button" class="btn btn-secondary dropdown-toggle status-button" type="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Status
                </button>
                
                <ul class="dropdown-menu">
                    <li class="menu-item dropdown-item" onclick="changeStatus('ok')">
                        <div class="" href="#">Ok</div>
                        <i class="las la-check-circle check-icon"></i>
                    </li>
                    <li class="menu-item dropdown-item" onclick="changeStatus('help')">
                        <div class="" href="#">Help</div>
                        <i class="las la-exclamation-circle danger-icon"></i>
                    </li>
                    <li class="menu-item dropdown-item" onclick="changeStatus('emergency')">
                        <div class="" href="#">Emergency</div>
                        <i class="las la-plus-square plus-icon"></i>
                    </li>
                </ul>
            </div>

            <div class="buttons-container">
                <button class="btn btn-outline-primary" onclick="getArchive(); closeNavbar() " id="alert-btn">Public Chat</button>
                <button class="btn btn-outline-primary" onclick="announcement(); closeNavbar() " id="announcement-toggle-btn">Announcement</button>
                <button class="btn btn-outline-primary" onclick="showSpeedTestModal(); closeNavbar() " id="speed-test-btn">Start Speed Test</button>
                <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#ShowGroupChoices">Counsel Group</button>
                   <button class="btn btn-outline-primary my-2 my-sm-0" onclick="window.location.href='/waitlists'; closeNavbar() " id="announcement-toggle-btn">
                    Waitlists
                </button>
                <button class="btn btn-outline-primary my-2 my-sm-0" onclick="window.location.href='/firstaid'; closeNavbar() " id="announcement-toggle-btn">
                    First Aid
                </button>
                <button class="btn btn-outline-primary my-2 my-sm-0" onclick="announcement(); closeNavbar() " id="announcement-toggle-btn">
                    Announcement
                </button>
                
                <button class="btn btn-outline-primary my-2 my-sm-0" onclick="navigateToEmergencyServices(); closeNavbar() " id="navigate-to-es-btn">
                    Emergency Services
                </button>
                <button style="background-color: transparent; color:blue" id = 'faciliites-button' class='btn btn-secondary' type='button', onclick = "loadFacilities()">
                    Facilities
                </button>

                <button class="btn btn-outline-primary" onclick="logout(); closeNavbar() " id="toggle-btn">Logout</button>
            </div>
        </div>
        <div class="notification-icon" onclick="handleAlertClick()">
            <i class="la la-bell"></i>
            <span class="notification-dot"></span>
          </div>
    </div>
</header>