<div class="modal fade" id="severityModal" tabindex="-1" aria-labelledby="severityModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-gray-800 text-gray-200">
                <h5 class="modal-title" id="severityModalLabel">Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="mb-2">Severity levels meaning</p>
                <p class="mb-2"><strong class="font-semibold">DOG:</strong> Minor injury</p>
                <p class="mb-2"><strong class="font-semibold">TIGER:</strong> Major injury, might be life threatening.
                </p>
                <p class="mb-2"><strong class="font-semibold">MONSTER:</strong> I am is about to die.</p>
                <p class="mb-2"><strong class="font-semibold">GOD:</strong> More than one person can be severely injured
                    or dead.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-gray-800 text-gray-200" data-bs-dismiss="modal" onclick="closeInformModalAndOpenEmergencyServicesModal()">I understand</button>
            </div>
        </div>
    </div>
</div>