<div class="modal" tabindex="-1" role="dialog" , id="registerEspModal">
    <div class="modal-dialog modal-dialog-center" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Register As ESP</h5>
            </div>
            <div class="modal-body">
                <p>You will be registered as an Emergency Service Provider. Click I Agree to continue.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" , onclick="registerAsEsp()">I Agree</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" ,
                    onclick="closeRegisterEspModal()">Refuse</button>
            </div>
        </div>
    </div>
</div>