<div id="request-container" style="display: none;" class="request-container">
    <div class="card-header text-center chatroom-type-title" id="chatroom-title">Emergency Requests</div>
    <div id="request-wall" class="request-wall">
        
    </div>
</div>