<div class="modal" id="speedTestModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">ESN Speed Test</h5>
        </div>
        <div class="modal-body speed-test-modal-body">
          <div class="spinner-border speed-test-spinner" id="speed-test-spinner" style="display: none;" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <form id="speedTestForm">
            <div class="form-group">
              <label for="duration">Duration (seconds):</label>
              <input type="number" class="form-control" id="duration" name="duration" min="0" step="60" required>
            </div>
            <div class="form-group">
              <label for="interval">Interval (milliSeconds):</label>
              <input type="number" class="form-control" id="interval" name="interval" min="0" step="50" required>
            </div>
            <!-- Hidden section for performance data -->
            <div id="performanceData" class="performance_data" style="display: none;">
              <div class="form-group">
                <label>Post Performance(requests/second) :</label>
                <span id="postPerformance">0</span>
              </div>
              <div class="form-group">
                <label>Get Performance(requests/second) :</label>
                <span id="getPerformance">0</span>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" onclick="start_speed_test()">Start Test</button>
          <button type="submit" class="btn btn-primary" onclick="stopSpeedTest()">Stop Test</button>
        </div>
      </div>
    </div>
  </div>
  