<!doctype html>
<html lang="en">
<%- include('partials/head.ejs') %>

  <body>
    <%- include ('partials/logoutModal'); %>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <h2 class="mb-4">ESN Network</h2>
          <form id="loginForm">

            <div class="mb-3">
              <label for="usernameInput" class="form-label">Username</label>
              <input type="text" class="form-control" id="usernameInput" required>
            </div>
            <div class="mb-3">
              <label for="passwordInput" class="form-label">Password</label>
              <input type="password" class="form-control" id="passwordInput" required>
            </div>

            <div class="mb-3">
              <p>Check the box only if you are a specialist:</p>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Anxiety" id="specialistAnxiety">
                <label class="form-check-label" for="specialistAnxiety">
                  Anxiety
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Depression" id="specialistDepression">
                <label class="form-check-label" for="specialistDepression">
                  Depression
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Stress" id="specialistStress">
                <label class="form-check-label" for="specialistStressManagement">
                  Stress
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Grief" id="specialistGrief">
                <label class="form-check-label" for="specialistGrief">
                  Grief
                </label>
              </div>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
              <button value="register" type="button" class="btn btn-primary" onclick="submitJoinForm()">JOIN
                COMMUNITY</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <%- include ('partials/agreeModal'); %>
      <%- include ('partials/acknowledgementModal'); %>
        <script src="/js/index.js"></script>
  </body>

</html>