<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>FSE Waitlists</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <!-- Template Main CSS Files -->
  <link rel="stylesheet" href="/css/firstaid.css" />
  <link rel="stylesheet" href="/css/variables.css" />
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="#" class="logo d-flex align-items-center">
        <h1>FSE Chatroom</h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/chatroom">Chatroom</a></li>
          <li><a href="/firstaid">Seek First Aid</a></li>
          <li><a href="/waitlists">Manage Waitlists</a></li>
        </ul>
      </nav><!-- .navbar -->

      <div class="position-relative">
        <a href="#" class="mx-2"><span class="bi bi-bell-fill"></span></a>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </div>

    </div>

  </header><!-- End Header -->

  <main id="main">


    <section id="main-title" class="main-title">
      <div class="container-md" data-aos="fade-in">
        <div class="row">
          <div class="section-header d-flex justify-content-between align-items-center mb-5">
            <h3>Manage Medicine Waitlists</h3>
            <div><a href="/waitlists" class="more">Back</a></div>
          </div>
      </div>
    </section>

    <section id="citizen-elect">
      <div class="container-md" data-aos="fade-up">
        <div class="row">
          <div class="col-12">
            <h2 id="past_report">Click to join the Medicine Waitlists as a Citizen</h2>
          </div>
        </div>
      </div>

      <div class="container-md" data-aos="fade-up">
        <div class="row">
          <div class="text-center" style="padding: 5px;">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#citizenModal"><h4>Join as Citizen</h4></button>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="citizenModal" tabindex="-1" aria-labelledby="submitModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="submitModalLabel">Alert!</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="citizenModalText" class="modal-body">
              Do you want to sign up as a citizen? <br>This role CANNOT be changed later.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="toCitizens()">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="provider-elect">
      <div class="container-md" data-aos="fade-up">
        <div class="row">
          <div class="col-12">
            <h2 id="past_report">Click to join the Medicine Waitlists as a Provider</h2>
          </div>
        </div>
      </div>

      <div class="container-md" data-aos="fade-up">
        <div class="row">
          <div class="text-center" style="padding: 5px;">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#providerModal"><h4>Join as Provider</h4></button>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="providerModal" tabindex="-1" aria-labelledby="submitModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="submitModalLabel">Alert!</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="providerModalText" class="modal-body">
              Do you want to sign up as a provider? <br>This role CANNOT be changed later.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="toProviders()">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    





  </main><!-- End #main -->


  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>


  <!-- Template Main JS File -->
  <script src="/js/waitlists.js"></script>

</body>

</html>