
#facilities-container {
    min-width: 20%;
    display:flex;
    flex-direction: column;
    border: 1px solid #ccc; /* Add border to the facilities container */
    padding: 10px; /* Add padding to the facilities container */
    height: 100hv;
    
    overflow-x: auto; /* Add horizontal scroll if content overflows */
    overflow-y: auto; /* Add vertical scroll if content overflows */
  }

  #facilities-container h2{
    text-align:center;
  }

  .facility-container{
    border: 1px solid #ccc; /* Add border to the facilities container */
    display: flex;
  }

  /* Add border to the information container */
  #information-container {
    display:flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    flex:1;
    
  }

  .facility {
    border: 1px solid #ddd; /* Add border to each facility */
    padding: 5px; /* Add padding to each facility */
  }
  @media (max-width: 768px) {
    #facilities-container {
      display: none; /* Hide facilities container on smaller viewports */
    }
  }