
<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ESN message board</title>
  <!-- Include Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
    body {
      padding-bottom: 3rem; /* Adjusted to avoid overlap with fixed elements */
    }

    header, #messageForm {
      background-color: rgb(168, 196, 244);
      backdrop-filter: blur(10px);
    }

    #messageForm {
      bottom: 0;
      left: 0;
      right: 0;
    }

    #messages {
      margin-top: 4rem; /* Adjusted for header */
    }

    .message {
      border: 1px solid #ddd;
      margin-bottom: 10px;
      overflow-y: auto;
    }

    .message .timestamp {
      color: #888;
    }
  </style>
</head>

<body>

  <header class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">FSE Chat Room</a>
      <button class="btn btn-outline-primary my-2 my-sm-0" id="toggle-btn">Logout</button>
    </div>
  </header>

  <div class="container-fluid" style="padding-top: 56px;"> <!-- Adjust top padding to avoid overlap with fixed navbar -->
    <div class="row">
      <aside class="col-md-3">
        <h3>Users List</h3>
        <ul id="users" class="list-group"></ul>
      </aside>
      <div class="col-md-9">
        <ul id="messages" class="list-unstyled"></ul>
        <form id="messageForm" class="fixed-bottom bg-light p-3">
          <div class="input-group">
            <input id="textInput" type="text" class="form-control" autocomplete="off" placeholder="Type your message...">
            <div class="input-group-append">
              <button class="btn btn-primary" type="submit">Post</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- Socket.io cdn & scripts -->
  <script src="https://cdn.socket.io/4.7.3/socket.io.min.js"></script>
  <script src="scripts/chatroomScript.js"></script>
</body>

</html>
